{% extends "base_window.html" %}
{% block title %}Update Party{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    legend {
        display: none;
    }

    .form-text {
        display: none;
    }

    .form-check {
        display: none;
    }

    #id_address {
        height: 100px;
    }

    #id_username {
        background-color: #eeeded;
    }
</style>
<main id="main" class="main">
    <section class="section dashboard">
        <div class="alert alert-warning text-center mt-2">
            <h2>Update Party </h2>
        </div>
        <div class="container-fluid mb-3 form-header p-3">
            <div class="row p-1 rounded">
                <div class="col-sm-12">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10"> 
                                <div class="row">  
                                    <div class="col-sm-6">
                                        {{ form.name|as_crispy_field }}
                                    </div>
                                    <div class="col-sm-6">
                                        {{ form.gst_no|as_crispy_field }}
                                    </div>
                                    <div class="col-sm-6">
                                        {{ form.mobile|as_crispy_field }}
                                    </div>
                                    <div class="col-sm-6">
                                        {{ form.alternate_mobile|as_crispy_field }}
                                    </div>
                                    <div class="col-sm-6">
                                        {{ form.pan_card|as_crispy_field }}
                                    </div>
                                    <div class="col-sm-6">
                                        {{ form.adhar_card|as_crispy_field }}
                                    </div> 
                                    <div class="col-sm-6">
                                        {{ form.document1|as_crispy_field }}
                                    </div>
                                    <div class="col-sm-6">
                                        {{ form.document2|as_crispy_field }}
                                    </div> 
                                </div>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                        <center><button type="submit" class="btn btn-primary mt-1 px-5">Update</button></center>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->


{% endblock content %}